<nav *ngIf="(categories$ | async) as Categories" class="menu">
  <select
    [(ngModel)]="selectedCategoryId"
    (change)="onCategoryChange($event)"
    class="select">
    <option value="">Все категории</option>
    <option *ngFor="let category of Categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>
  <button
    class="reset-button"
    (click)="filterReset()">сброс
  </button>
</nav>
<div *ngIf="(polls$ | async) as FilteredPolls" class="cards-wrapper">
  <div *ngFor="let poll of FilteredPolls">
    <card [item]="poll"></card>
  </div>
  <div *ngIf="!FilteredPolls.length" class="cards-wrapper">
    Ничего не найдено
  </div>
</div>
<div *ngIf='isLoading' class="spinner"></div>

